:root{
    --salmon:#ef9d71;
    --black:#000;
    --white:#fff;
    --cyan:#AEDEE0;
    --dsalmon:#532521;
    --dcyan:#1f2f32;
}
@font-face {
  font-family: "Machina";
  src: url("./fonts/659dbdfd5a080be8d348316e_PP\ Neue\ Machina\ Inktrap\ Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Machina-light";
  src: url("./fonts/659dbdfd5a080be8d348316f_PPNeueMachina_\ Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Variable";
  src: url("./fonts/659dbdfd5a080be8d3483173_Satoshi-Variable.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
*::selection{
    background-color: var(--salmon);;
}

.videodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}

body[theme="black"]{
    background-color: var(--black);
}
body[theme="black"] .section{
    color: var(--white);
}
body[theme="cyan"]{
    background-color: var(--cyan);
}
body[theme="cyan"] {
    color: var(--dcyan);
}
body[theme="salmon"]{
    background-color: var(--salmon);
}
body[theme="salmon"] .section{
    color: var(--dsalmon);
}
body[theme="white"]{
    background-color: var(--white);
}
body[theme="white"] .section{
    color: var(--black);
}


